* {
    font-family: "roboto slab", serif;
    color: #740001;
}
body{
    background-color: #f1ebd9;
}
header, main{
    background-color: #dcc066;
    border: 5px #740001 solid;
    padding: 20px;
    margin: 5px auto;
    width: 1154px;
}
header img{
    width: 250px;
}
main iframe{
    width: 100%;
    height: 350px;
}
